<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class = "google-form">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdaZWNVX0yQ3VgDpCxGrAhjDgWSvXRJ1ccbvJ03g69JK41-sg/viewform?usp=pp_url" width="930" height="610" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...
      </iframe>
    </div>
  </div>
</div>
