<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    </div>
    <div class = "google-form">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfiUY3gCpfftZqqiQDIgNh2qno0GgRD8iw49wH9fEJnam3igA/viewform?embedded=true" width="930" height="610" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...
      </iframe>
    </div>
  </div>
</div>
