<div class = "container">
  <div class = "row">
    <div class = "right-contents">
      <div class = "page-title-area">
        <h1 class = "text-grey">Rules</h1>
        <p class = "text-grey">生活においてのルールを記載しています。</p>
        <Hr align = "left" width = "800">
      </div>
      <div class = "rules-list">
        <div class = "mini-rule-list">
          <h4 class = "big-rule-title text-green">
            屋内ルールについて
          </h4>
          <ul>
            <li>掃除の分担について</li>
            <li>友人などを家に連れてくる場合</li>
            <li>洗濯・入浴について</li>
            <li>ロッカーについて</li>
            <li>公共料金の支払いについて</li>
            <li>ゴミ出しについて</li>
            <li>共用の消耗品について</li>
            <li>生活空間について</li>
          </ul>
        </div>

        <div class = "mini-rule-list">
          <h4 class = "big-rule-title text-blue">
            屋外ルールについて
          </h4>
          <ul>
            <li>地域の交流について</li>
            <li>自治体について</li>
          </ul>
        </div>

        <div class = "mini-rule-list">
          <h4 class = "big-rule-title text-pink">
            その他のルールについて
          </h4>
          <ul>
            <li>情報共有の機会について</li>
            <li>寮生としての取り組み</li>
            <li>家賃について</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
